*{
    padding: 0;
    margin: 0px, 50px, 0px, 50px;
    /* font-family: Space Grotesk, Oleo Script; */
    font-style: Space Grotesk, Oleo Script;
    border-style: none;
    border-width: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
  margin: 10px 10px;
}
body{
    background-color: #FAFAFA;
}
.navbar{
  display: flex;
  box-shadow: gainsboro;
  justify-content: space-around;

 
}
.navbar h3{
    margin-top: 8px;
    font-style: italic;
}

.navbar ul {
  display: flex;
  justify-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FAFAFA;
  }
  
.navbar li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar .active{
    color: #0F298B;
  }
  
  .navbar button {
    float: right;
    padding: 3px;
    margin-top: 8px;
    background:  #2549D3;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    justify-items: center;
  }
 
  /* Change the link color on hover */
.navbar li a:hover {
   color: #0F298B;
  }

  .container {
    display: flex;
    justify-content:space-around;
  }
  .container button{
    background-color: #2549D3;
    color: white;
    padding: 3px;
  }
  .container img {
   flex-basis: auto;
  }
  .row {
    display: flex;
    box-shadow: #f1f1f1a4;
  }

  .dropdown{
    display: list-item;
    position: absolute;
    background-color: #f1f1f1;
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    display: flex;
  }

  .dropdown button{
    background-color: #2549D3;
    color: white;

  .footer {
    display: flex;
    background: #2549D3; 
  }

  
  /* Clear floats after the columns */
  .footer:after {
    content: "";
    display: table;
    clear: both;
  }