/* Style the top navigation bar */
*{
    padding: 0;
    margin: 0px, 50px, 0px, 50px;
    /* font-family: Space Grotesk, Oleo Script; */
    font-style: Space Grotesk, Oleo Script;
    border-style: none;
    border-width: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
  margin: 10px 10px;
}
img{
  border: aliceblue;
  border-width: 5px;
  margin: 10px 10px;
 
}
body{
    background-color: #FAFAFA;
}
h1{
      color: #0F298B;
}

.div{
    margin-left:5px;
    margin-right:5px;
}
.navbar{
  display: flex;
  box-shadow: gainsboro;
  justify-content: space-around;

 
}
.navbar h3{
    margin-top: 8px;
    font-style: italic;
}

.navbar ul {
  display: flex;
  justify-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FAFAFA;
  }
  
.navbar li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar .active{
    color: #0F298B;
  }
  
  .navbar button {
    float: right;
    padding: 3px;
    margin-top: 8px;
    background:  #2549D3;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    justify-items: center;
  }
 
  /* Change the link color on hover */
.navbar li a:hover {
   color: #0F298B;
  }

  .container {
    display: flex;
    justify-content:space-around;
  }
  .container button{
    background-color: #2549D3;
    color: white;
    padding: 3px;
  }
  .container img {
   flex-basis: auto;
  }
  .dp_image {
    flex-basis: 40%
  }
  .text {
    font-size: 20px;
    padding-left: 20px;
  }
  /* position images side by side */
  .row {
    display: flex;
    box-shadow: #f1f1f1a4;
  }
  
  
  /* Dropdown Content */
  .dropdown{
    display: list-item;
    position: absolute;
    background-color: #f1f1f1;
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    display: flex;
  }

  .dropdown button{
    background-color: #2549D3;
    color: white;
  }
.product h1{
  float:right;

}
.product prod{
  text-align: center;
}
  .container2 {
    display: flex;
    align-items: center;
    justify-content: center
  }
  img {
    max-width: 100%
  }
  .image2 {
    flex-basis: 40%
  }
  .text2 {
    font-size: 20px;
    padding: 20px;
  }
.Property{
    text-align: center;
}
  .customer{
    display: flex;
    border: none;
    background-color: white;
    
  }
  .Property{
    text-align: center;
  }
  /* Clear floats after the columns */
  .Esteemed-Customers:after {
    content: "";
    display: table;

    clear: both;
  }

  .text3{
    text-align: center;
    margin: 20px 20px;
  }
  .footer {
    display: flex;
    background: #2549D3; 
  }

  
  /* Clear floats after the columns */
  .footer:after {
    content: "";
    display: table;
    clear: both;
  }