/* Style the top navigation bar */
*{
  padding: 0;
  margin: 0px;
  /* font-family: Space Grotesk, Oleo Script; */
  font-style: Space Grotesk, Oleo Script;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
border: aliceblue;
border-width: 5px;
margin: 10px 10px;

}

h1{
    color: #0F298B;
}

.div{
  margin-left:5px;
  margin-right:5px;
  margin-bottom: 60px;
}
.navbar{
display: flex;
box-shadow: gainsboro;
justify-content: space-around;
font-weight: bold;
border-bottom: 1px solid rgb(139, 136, 136);
margin-bottom: 60px;
padding: 16px 16px;
}
.navbar h3{
  margin-top: 8px;
  font-style: italic;
 
}

.navbar ul {
display: flex;
justify-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar .active{
  color: #0F298B;
}

.navbar button {
  float: right;
  padding: 3px 3px;
  margin-top: 6px;
  margin-bottom: 6px;
  background:  #2549D3;
  font-size: 12px;
  color: white;
  border: none;
  cursor: pointer;
  justify-items: center;
  border-radius: 12px;
}

/* Change the link color on hover */
.navbar li a:hover {
 color: #0F298B;
}

.container {
  display: flex;
  justify-content:space-around;
}
.container button{
  background-color: #2549D3;
  color: white;
  padding: 3px 3px;
  float: left;
  padding: 8px 8px;
  font-size: 12px;
  color: white;
  justify-items: center;
  border-radius: 12px;
  margin-top: 16px;
  margin-bottom: 60px;
}

.container img {
 flex-basis: auto;
}

.dp_image {
  flex-basis: 40%
}
.text {
  font-size: 20px;
  padding-left: 20px;
}
/* position images side by side */
.row {
  display: flex;
  justify-content: space-around;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 120px;
}
.column{
 flex: 33.33%;
 padding: 5px;
 margin-right: 5px;
 background-color: rgb(240, 236, 236);
}
.Right{
  float:right;
  margin-right: 10px;
}
.Right p{
  color: #2549D3;
}
.left{
  float: left;
  margin-left: 10px;
}
/* Dropdown Content */
.dropdown{
  justify-content: space-around;
  align-items: center;
  display: flex;
  background-color:#f1f1f1;
  color: black;
  padding: 6px 6px;
  font-size: 12px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;

}

.dropdown button{
  background-color: #2549D3;
  border-radius: 12px;
  padding: 3px 3px;
  margin-top: 8px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  justify-items: center;
  border-radius: 12px;
}
.prod{
margin-left: 40px;
}

.center{
  margin-top: 40px;
  text-align: center;
  margin-bottom: 60px;
}
.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.text2 ul{
  column-count: 2;
}

img {
  max-width: 100%
}

.image2 {
  margin-right: 10px;
  flex-basis: 50%
}

.text2 {
  padding: 20px;
  flex-basis: 50%;
}
.Property{
  text-align: center;
}
.customer{
  display: flex;
  justify-content: space-around;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
}

.customer p{
  flex: 33.33%;
  padding: 5px;
  margin-right: 5px;
  background-color: rgb(240, 236, 236);
}
.Property{
  text-align: center;
}

.Esteemed-Customers button{
  background-color: #2549D3;
  border-radius: 12px;
  padding: 3px 3px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  justify-items: center;
  border-radius: 12px;
  float: right;
}

.text3{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer {
  margin-top: 60px;
  display: flex;
  background: #2549D3; 
  justify-content: space-around;
  color: white;
  font-weight: bold;
  line-height: 1.8;
}
.feedback{
  flex:25%;
  padding: 5px;
  margin-right: 5px;
}
.footer h1{
  color: white;
  font-weight: bold;
}